extend jade/_layout

block head
  link(rel="stylesheet", href="css/pending-report.css?__inline=true")
  script(src="js/app.js?__inline=true")

block content
  a.logo(href="http://42debut.com/") 42
  a.support-link(href="mailto:support+pending-report@42debut.com") Contact support

  .content
    p
      span.top Hold on tight, your report is being generated
      br
      .progress-bar
        .bar

  :coffeescript
    setTimeout (->
        window.location.href = "http://dashboard.clover.42debut.com"
    ), 42 * 1000